@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import './styles/common.css';
@import './styles/piechart.css';
@import './styles/radix.css';

html,
body {
  padding: 0;
  margin: 0;
}

.gradient {
  /* inset: 0;
  height: 100%;
  width: 100%;
  background-image: radial-gradient(rgba(var(--color-background-gray)) 1px, transparent 1px);
  background-size: 16px 16px;
  filter: blur(0.5px);
  -webkit-mask-image: linear-gradient(to right,
    transparent,
    rgba(var(--color-background-gray)) 20%,
    rgba(var(--color-background-gray)) 80%,
    transparent
  );
  mask-image: linear-gradient(to right, 
    transparent,
    rgba(var(--color-background-gray)) 20%, 
    rgba(var(--color-background-gray)) 80%,
    transparent
  ); */
}

body {
  font-size: 0.75rem;
  font-family: 'Inter', sans-serif;
  font-weight: 450;
  line-height: 1;
  width: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background-primary);
}

html {
  background-color: rgb(var(--color-background-primary)) !important;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(var(--color-background-gray))
    rgb(var(--color-background-primary));
}

*::-webkit-scrollbar-track {
  background: rgb(var(--color-background-primary));
}

*::-webkit-scrollbar-thumb {
  background: rgb(var(--color-background-gray));
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--color-background-secondary));
}

body {
  overflow-x: hidden;
}

body[data-scroll-locked] {
  overflow: hidden;
  padding-right: var(--removed-body-scroll-bar-size, 0px);
}

.app {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.app-container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.main-app {
  font-family: 'Inter', sans-serif;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 768px) {
  html {
    font-size: 75%;
  }
}

@media (min-width: 1600px) {
  .app-container {
    max-width: 1600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
